body {
    background: black;
}
.header {
    overflow: hidden;
    background-color: black;
    padding: 30px 10px;
  }
  .header-right{
    padding-right: 5%;
  }
  .header-right a {
    float: left;
    color: white  ;
    text-align: center;
    padding: 12px;
    font-size: 30px;
    text-decoration: none;
    background-image: linear-gradient(#f9004d, #f9004d);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%, 100%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
  }
  .header .active{
    pointer-events: none;
  }
  
  .logo{
    padding-left: 5%;
    text-decoration: none;
    float: left;
    color: white  ; 
  }
  .header a.logo {
    font-size: 40px;
    font-weight: bold;
  }
  
  .header a:hover {
    background-size: 100% 0.1em;
    color: white;
  }
  .header a::after{
    background-size: 100% 0.1em;
  }
  .header a.active {
    color: #f9004d;
    text-decoration: none;
  }
  
  .header-right {
    float: right;
  }
.form-control:focus {
    box-shadow: none;
    border-color: rgb(146, 7, 7);
}

.profile-button {
    background: maroon;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: maroon;
}

.profile-button:focus {
    background: maroon;
    box-shadow: none
}

.profile-button:active {
    background: maroon;
    box-shadow: none
}

.back:hover {
    color: maroon;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: rgb(161, 3, 3);
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
body{
    color: white;
}